# Directories to exclude
mysql-data
node_modules
public/uploads

# Git files
.git
.gitignore

# Docker files
Dockerfile
docker-compose.yml
docker-compose.prod.yml
.dockerignore

# Environment files
.env

# Logs and temp files
npm-debug.log*
.vscode

